/* Global Style */

a {
  color: #774499;
  font-weight: bold;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  text-transform: none;
}

.Hero {
  background: url("../../images/mk8-deluxe-background.png");
  background-size: cover;
  background-position: center;
  height: 1080px;
}